*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(185, 41%, 84%);
  font-family: "Space Mono", monospace;
}
main {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  margin-top: 10rem;
  font-size: 10px;
  font-weight: 400;
  text-align: center;
  color: hsl(183, 100%, 15%);
  letter-spacing: 0.3em;
}

input {
  padding: 8px;
  background: hsl(180, 29%, 92%);
  border: none;
  border-radius: 4px;
}

span {
  font-size: 10px;
  color: hsl(186, 14%, 43%);
}

label {
  display: inline-block;
  color: hsl(186, 14%, 43%);
  font-size: 12px;
  font-weight: 700;
}

.calculator-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-columns: 50% 50%;
  background-color: #fff;
  padding: 20px;
  border-radius: 20px;
  width: 40rem;
}

.result {
  font-size: 14px;
  color: #fff;
  padding: 30px;
  border-radius: 10px;
  background-color: hsl(183, 100%, 15%);
}

.form {
  display: grid;
  grid-template-rows: 3fr;
  gap: 2.5rem;
}

.input-form {
  padding: 0px 30px 0px 10px;
}

.tip-amount,
.total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.total {
  margin-bottom: 5rem;
}

.total > p,
.tip-amount > p {
  font-size: 12px;
}

.display-amount,
.display-total {
  font-size: 33px;
  font-weight: 700;
  color: hsl(172, 67%, 45%);
}
.select-tip {
  margin-bottom: 10px;
}

.reset-button {
  border: none;
  border-radius: 2px;
  padding: 8px;
  width: 100%;
  color: hsl(186, 14%, 43%);
  background-color: #0d686d;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
}

.reset-button:active {
  color: hsl(183, 100%, 15%);
  background-color: hsl(172, 67%, 45%);
}

.custom-tip {
  width: 5rem;
}

.custom-tip::placeholder {
  text-align: center;
  font-size: 16px;
  font-family: "Space Mono", monospace;
  font-weight: 700;
  color: hsl(186, 14%, 43%);
}

.custom-tip::-webkit-outer-spin-button,
.custom-tip::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.bill,
.numberPeople {
  width: 100%;
}

.bill::-webkit-outer-spin-button,
.bill::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.numberPeople::-webkit-outer-spin-button,
.numberPeople::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.hidebx {
  display: none;
}

.form-group {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
}

.lbl-radio {
  text-align: center;
  padding: 5px 27px;
  background-color: hsl(183, 100%, 15%);
  border-radius: 4px;
  color: #fff;
  font-size: 13px;
  cursor: pointer;
}

input[type="radio"]:checked + .lbl-radio {
  background-color: hsl(173, 55%, 72%);
  color: hsl(183, 100%, 15%);
}

.number-group {
  position: relative;
}

.bill-group {
  position: relative;
}

.valid-label {
  position: absolute;
  color: #ff0000;
  top: 5px;
  right: 0;
  font-weight: 400;
}

.bill-label {
  position: absolute;
  color: #ff0000;
  top: 5px;
  right: 0;
  font-weight: 400;
}

/* mobil version 375px - 590px */

@media only screen and (max-width: 590px) {
  header {
    margin-top: 3rem;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    color: hsl(183, 100%, 15%);
    letter-spacing: 0.6em;
  }
  main {
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  input {
    padding: 15px;
    background: hsl(180, 29%, 92%);
    border: none;
    border-radius: 4px;
  }
  label {
    display: inline-block;
    color: hsl(186, 14%, 43%);
    font-size: 15px;
    font-weight: 700;
  }

  .input-form {
    padding: 20px 15px 0px 15px;
  }

  .calculator-container {
    display: grid;
    grid-template-columns: 2fr;
    grid-gap: 30px;
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
  }

  .form-group {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
  }

  .lbl-radio {
    text-align: center;
    padding: 10px 27px;
    background-color: hsl(183, 100%, 15%);
    border-radius: 4px;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
  }
  .custom-tip {
    border-radius: 4px;
    width: 100%;
    padding: 5px;
  }

  input[type="radio"]:checked + .lbl-radio {
    background-color: hsl(173, 55%, 72%);
    color: hsl(183, 100%, 15%);
  }

  input[type="radio"]:checked + .lbl-radio {
    background-color: hsl(173, 55%, 72%);
    color: hsl(183, 100%, 15%);
  }

  .number-group {
    position: relative;
  }

  .bill-group {
    position: relative;
  }

  .valid-label {
    position: absolute;
    color: #ff0000;
    top: 2px;
    right: 0;
    font-weight: 400;
  }

  .bill-label {
    position: absolute;
    color: #ff0000;
    top: 2px;
    right: 0;
    font-weight: 400;
  }

  .total {
    margin-bottom: 1.5rem;
  }

  .reset-button {
    border: none;
    border-radius: 4px;
    padding: 13px;
    width: 100%;
    color: hsl(186, 14%, 43%);
    background-color: #0d686d;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
  }
}
